* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: #bcc6b6;
    --color2: #eaea42;
    --color3: #cac83b;
    --color4: #686464;
    --color5: #dbd6d6;
}

nav {
    background-color: var(--color2);
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(36, 33, 33);
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    font-family: sans-serif;
    font-weight: bolder;
}

nav a:hover {
    background-color: rgba(36, 33, 33);
    color: var(--color2);
}




