* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/liminal-images/Xiao-LiminalSpaces.webp);
    background-color: var(--color4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

nav {
    background-color: #d3c8c8b2;
    padding: 10px;
}

nav a {
    background-color: brown;
    text-decoration: none;
    color: rgb(36, 33, 33);
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

nav a:hover {
    background-color: var(--color3);
    color: #fff;
    transition: 0.5s;
}

main {
    background-color: #d3c8c8b2;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
} 

main h1 {
    text-align: center;
    padding: 10px;
    color: rgba(133, 31, 31, 0.51);
    margin: 10px;
}

main article {
    height: 100vh;
    width: 940px;
    padding: 15px;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


main article p {
    color: rgb(180, 44, 44);
    font-weight: bolder;
    text-align: justify;
    width: 520px;
    padding: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

main section {
    background-color: rgba(0, 0, 0, 0.264);
    width: 990px;
    height: 100vh;
    border-radius: 8px;
    box-shadow: 8px black;
}

main section img {
    width: 990px;
    height: 100vh;
    margin: -5px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 8px;
    border: 0.3px solid black;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}






