*{
    margin: 0;
}

body {
    background-image: url(../images/y2k-images/matrix-code.webp);
    background-size: cover;
    background-attachment: fixed;
}

nav{
    background-color: rgb(255, 134, 134);
}

main{
    background-color: rgba(182, 155, 120, 0.49);
    
}

img {
    width: 600px;
    height: 300px;
}

article {
    background-color: #b497976c;
    width: 700px;
    padding: 20px;
    border-radius: 15px;
}

article p {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-shadow: #0c0c0c;
}

